# Librairy

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data

In [9]:
df = pd.read_csv('../data/Titanic.csv')
df.head()

      sex   age  sibsp  parch     fare embarked  class    who  alone  survived
0    male  22.0      1      0   7.2500        S  Third    man  False         0
1  female  38.0      1      0  71.2833        C  First  woman  False         1
2  female  26.0      0      0   7.9250        S  Third  woman   True         1
3  female  35.0      1      0  53.1000        S  First  woman  False         1
4    male  35.0      0      0   8.0500        S  Third    man   True         0

In [10]:
df

,sex,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,male,22.0,1,0,7.2500,S,Third,man,False,0
1,female,38.0,1,0,71.2833,C,First,woman,False,1
2,female,26.0,0,0,7.9250,S,Third,woman,True,1
3,female,35.0,1,0,53.1000,S,First,woman,False,1
4,male,35.0,0,0,8.0500,S,Third,man,True,0
...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,0,0,13.0000,S,Second,man,True,0
887,female,19.0,0,0,30.0000,S,First,woman,True,1
888,female,NaN,1,2,23.4500,S,Third,woman,False,0
889,male,26.0,0,0,30.0000,C,First,man,True,1
890,male,32.0,0,0,7.7500,Q,Third,man,True,0

# EDA

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       891 non-null    object
 1   age       714 non-null    float64
 2   sibsp     891 non-null    int64
 3   parch     891 non-null    int64
 4   fare      891 non-null    float64
 5   embarked  889 non-null    object
 6   class     891 non-null    object
 7   who       891 non-null    object
 8   alone     891 non-null    bool
 9   survived  891 non-null    int64
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 63.6+ KB

In [12]:
df.describe()

              age       sibsp       parch        fare    survived
count  714.000000  891.000000  891.000000  891.000000  891.000000
mean    29.699118    0.523008    0.381594   32.204208    0.383838
std     14.526497    1.102743    0.806057   49.693429    0.486592
min      0.420000    0.000000    0.000000    0.000000    0.000000
25%     20.125000    0.000000    0.000000    7.910400    0.000000
50%     28.000000    0.000000    0.000000   14.454200    0.000000
75%     38.000000    1.000000    0.000000   31.000000    1.000000
max     80.000000    8.000000    6.000000  512.329200    1.000000

In [13]:
df.isnull().sum()

sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
class         0
who           0
alone         0
survived      0
dtype: int64

In [16]:
sns.set(style='whitegrid')

# Histogramme de l'Ã¢ge des passagers
plt.figure(figsize=(10, 6))
sns.histplot(df['Age'].dropna(), bins=30, kde=True)
plt.title('Distribution des Ã¢ges des passagers')
plt.xlabel('Ã‚ge')
plt.ylabel('Nombre de passagers')
plt.show()

# RÃ©partition des passagers selon le sexe
plt.figure(figsize=(10, 6))
sns.countplot(x='Sex', data=df)
plt.title('RÃ©partition des passagers selon le sexe')
plt.xlabel('Sexe')
plt.ylabel('Nombre de passagers')
plt.show()

# RÃ©partition des passagers selon la classe
plt.figure(figsize=(10, 6))
sns.countplot(x='Pclass', data=df)
plt.title('RÃ©partition des passagers selon la classe')
plt.xlabel('Classe')
plt.ylabel('Nombre de passagers')
plt.show()

# RÃ©partition des survivants par classe
plt.figure(figsize=(10, 6))
sns.countplot(x='Pclass', hue='Survived', data=df)
plt.title('RÃ©partition des survivants par classe')
plt.xlabel('Classe')
plt.ylabel('Nombre de passagers')
plt.legend(title='Survived')
plt.show()

# RÃ©partition des survivants par sexe
plt.figure(figsize=(10, 6))
sns.countplot(x='Sex', hue='Survived', data=df)
plt.title('RÃ©partition des survivants par sexe')
plt.xlabel('Sexe')
plt.ylabel('Nombre de passagers')
plt.legend(title='Survived')
plt.show()

KeyError: 'Age'

In [17]:
corr_matrix = df.corr()

# Heatmap des corrÃ©lations
plt.figure(figsize=(12, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title('Heatmap des corrÃ©lations')
plt.show()

ValueError: could not convert string to float: 'male'

In [18]:
# Boxplot pour visualiser la relation entre l'Ã¢ge et la classe
plt.figure(figsize=(10, 6))
sns.boxplot(x='Pclass', y='Age', data=df)
plt.title('RÃ©partition des Ã¢ges par classe')
plt.xlabel('Classe')
plt.ylabel('Ã‚ge')
plt.show()

# Boxplot pour visualiser la relation entre l'Ã¢ge et la survie
plt.figure(figsize=(10, 6))
sns.boxplot(x='Survived', y='Age', data=df)
plt.title('RÃ©partition des Ã¢ges selon la survie')
plt.xlabel('Survived')
plt.ylabel('Ã‚ge')
plt.show()

ValueError: Could not interpret value `Pclass` for `x`. An entry with this name does not appear in `data`.